<!-- //show and hide div1 with btn and toggle start  -->

<!-- <div *ngIf="isDivVisible" class="flex flex-col justify-center items-center text-center border-2 border-black px-8 py-4 min-h-36">
    <h1 class="h1">Div1</h1><br>
</div><br> -->
<!-- <div> -->
    <!-- <button (click)="isDivVisible = !isDivVisible" 
    class="btn_red">Hide</button> -->
    <!-- <button (click)="isToggle()"  
    class="btn_green">Toggle</button>
</div> -->

<!-- //show and hide div1 with btn and toggle end  -->

<!-- //show and hide div1 start -->

<!-- <h2 class="h2">Same Input To Show Div1</h2>
<div *ngIf="isValue1 === isValue2" class="flex flex-col justify-center items-center text-center border-2 border-black px-8 py-4 min-h-36">
    <h1 class="h2">Div1</h1><br>
</div><br>


<div>
    <label>Enter Text :</label>
    <input [(ngModel)]="isValue1" class="w-40 text-center"  type="text" placeholder="Enter An Text"/>

    <label>Enter Text :</label>
    <input [(ngModel)]="isValue2" class="w-40 text-center" type="text" placeholder="Enter An Text"/>
</div> -->

<!-- //show and hide div1 end -->


 <!-- ngfor directives start -->

<!-- <div>
    <ol style="list-style-type:square;">
        <li *ngFor="let city of cityArray">{{city}}</li>
    </ol>
</div> -->

<div class="flex flex-col justify-center items-center">
    <ol>
        <li *ngFor="let item of items">{{item}}</li>
    </ol>
    <div class="flex flex-row mt-4 gap-4">
        <button class="border-2 border-black rounded-md p-1" (click)="addItem()">Add New Item</button>
        <button class="border-2 border-black rounded-md p-1" (click)="removeItem()">Remove Item</button>
    </div>
</div>
<!-- ngfor directives start -->