 <!-- Routing in Angular -->

 <div>
    <div class="mt-4 mx-auto flex flex-row justify-between items-center w-[80%]">
        <div>
            <a class="cursor-pointer"><h1 class="text-3xl" routerLink="">Routing</h1></a>
        </div>
  
        <div>
            <div class="flex flex-row gap-4 text-xl">
                <a routerLink="Item" >Item</a>
                <a routerLink="Item-List">Item-List</a>
                <a routerLink="Data-Binding">Data-Binding</a>
                <a routerLink="Structural">Structural</a>
                <a routerLink="Attribute">Attribute</a>
                <a routerLink="Student">Student</a>
                <a routerLink="Teacher">Teacher</a>
            </div>
        </div>
    </div>
  </div>
  
  <div>
        <router-outlet></router-outlet>
  </div>