<div class="justify-center items-center flex flex-col">
  <h1 class="text-xl">Welcome To Post API Page!</h1>

  <form class="flex flex-col">
    <label>Title:</label>
    <input class="in" [(ngModel)]="productObj.title" name="title" type="text" placeholder="Enter title" />
    
    <label>Price:</label>
    <input class="in" [(ngModel)]="productObj.price" name="price" type="text" placeholder="Enter price" />
    
    <label>Description:</label>
    <input class="in" [(ngModel)]="productObj.description" name="description" type="text" placeholder="Enter description" />
    
    <label>Category:</label>
    <input class="in" [(ngModel)]="productObj.category" name="category" type="text" placeholder="Enter category" />
  </form>

  <button (click)="onAdd()" class="border-2 border-black mt-4 p-1 rounded-md">
    Add Product
  </button>
</div>

<div class="flex flex-col justify-center items-center gap-4">
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of productData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description.substring(0, 35) }}</td>
        <td>{{ item.category }}</td>
        
        <td>
          <!-- Show 'Edit' button when the item is not being edited -->
          <button *ngIf="editingProductId !== item.id" (click)="onEdit(item)" class="ml-4 border-2 border-black p-1 rounded-md my-2 bg-blue-500">
            Edit
          </button>
          
          <!-- Show 'Update' button when the item is being edited -->
          <button *ngIf="editingProductId === item.id" (click)="onUpdate()" class="ml-4 border-2 border-black p-1 rounded-md my-2 bg-orange-500">
            Update
          </button>
          
          <!-- Delete button -->
          <button (click)="onDelete(item.id)" class="ml-4 border-2 border-black p-1 rounded-md my-2 bg-red-700">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
