p{
    background-color: blue;
    color: black;
    padding: 1rem;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    background-color: black;
    color: yellowgreen;
    padding: 1rem;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}